# .gitattributes
# This file is used to define attributes for paths in the repository.

# Exclude .pages directory from GitHub language statistics
.pages/* linguist-vendored

*.html linguist-vendored
*.htm linguist-vendored
*.css linguist-vendored
*.conf linguist-vendored   
*.yml linguist-vendored
*.sh linguist-vendored