# .gitattributes
# This file is used to define attributes for paths in the repository.

# Exclude .pages directory from GitHub language statistics
.pages/* linguist-vendored

*.html linguist-vendored=true
*.htm linguist-vendored=true
*.css linguist-vendored=true
*.conf linguist-vendored=true
*.yml linguist-vendored=true
*.sh linguist-vendored=true
